DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza183YUd3elV3NXNpajVJRjY1ZDFST0oiLCJhcGlfa2V5IjoiMDFLNlI3TlJNUjc0MEg1VlRDMjNEQjdNNzgiLCJ0ZW5hbnRfaWQiOiI2ZDRlZTYyYWQyODk5MTU2MDEyZWQyMTdhOTFmZTY5NmMxNTZhMzM1ZTk2YzhjNDM5M2RjYjFlNzU0ZTVkN2UzIiwiaW50ZXJuYWxfc2VjcmV0IjoiYWU5Njg2ZjQtMjExOS00MTYyLWIyMTgtYzFiMjZjZGFjNTM0In0.W9ujqL7Q7NjZHwEHz_oaO9aAj5LOzo-u1i36iuRqguU"
